.login {
  & .header {
    font-size: 26px;
    font-weight: 500;
    margin: 30px 0 14px 0;
    text-transform: uppercase;
    text-align: center;
  }
}
.selectAs {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  & label {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    padding: 30px;
    border: solid 2px #666;
    border-radius: 4px;
    cursor: pointer;
  }
  & img {
    height: 124px;
    width: auto;
  }
  & input[type="radio"] {
    visibility: hidden;
  }
  & input:checked + label {
    background-color: #fff;
  }
}
.loginBlock {
}
