*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background: #eaeaea;
}
.orregister {
  margin-top: 46px;
  border: solid thin #aaa;
  padding: 8px;
  border-radius: 10px;
  position: relative;
  &::before{
    content: "or";
    position: absolute;
    top: -36px;
    text-align: center;
    left: 0;
    right: 0;
    color: #aaa;
  }
}
